{% extends 'ustore/base.html' %}
{% load static %}


{% block custom_js %} 
<link rel="stylesheet" href="{% static 'ustore/css/login.css' %}" />
<script type="text/javascript" src="{% static 'ustore/js/login.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container">
	<div id="login-box" class="login-box">
		<div class="logo">
			<img src="{% static 'ustore/images/logo.jpeg' %}" class="img img-responsive img-circle center-block img-logo"/>
		</div><!-- /.logo -->
		<form class="controls" action='/login/' method='post'>
			<input type="text" name="ip" placeholder="Server IP (e.g. localhost:60600)" class="form-control" default />
			<input type="submit" class="btn btn-default btn-block btn-custom" value="Connect">
		</form><!-- /.controls -->
	</div><!-- /#login-box -->
</div><!-- /.container -->
<div id="particles-js"></div>
{% endblock %}