
body,html{
	height: 100%;
	font-family: SourceSansPro, sans-serif;
}

.title {
	font-size: 50px;
	color: #0d1a26;
	font-family: SourceSansPro, sans-serif;
    font-weight: bold;
}

.subtitle {
	font-size: 40px;
	color: #0d1a26;
	font-family: SourceSansPro, sans-serif;
    font-weight: bold;
    display: block;
    padding-top: 12px;
}
.foot-title {
	font-size: 20px;
	color: #ff655a;
	font-family: SourceSansPro, sans-serif;
    font-weight: bold;
    display: block;
}

.content-list {
	padding-top: 20px;
}

.content-list > li {
	font-size: 20px;
	color: #0d1a26;
    padding: 5px;
	font-family: SourceSansPro, sans-serif;
    border-bottom: 1px solid #ff655a;
	position: relative;
}

.content-list .hint {
	font-size: 13px;
	/*float: right!important;*/
	position: absolute;
	bottom: 0;
	right: 0;
	color: grey;
	font-family: SourceSansPro, sans-serif;
	font-style: italic;
}

.content-list .hint > a {
	color: grey;
}

.page {
	position: absolute;
	left: 50%;
	top: 50%;
}

/* remove outer padding */
.main .row{
	padding: 0px;
	margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
	border-radius: 0px;
}

nav.sidebar, .main{
	-webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main{
	padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

	/*Allow main to be next to Nav*/
	.main{
		position: absolute;
		width: calc(100% - 40px); /*keeps 100% minus nav size*/
		margin-left: 40px;
		float: right;
	}

	/*lets nav bar to be showed on mouseover*/
	nav.sidebar:hover + .main{
		margin-left: 200px;
	}

	/*Center Brand*/
	nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}
	/*Center Brand*/
	nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
		text-align: center;
		width: 100%;
		margin-left: 0px;
	}

	/*Center Icons*/
	nav.sidebar a{
		padding-right: 13px;
	}

	/*adds border top to first nav box */
	nav.sidebar .navbar-nav > li:first-child{
		border-top: 1px #e5e5e5 solid;
	}

	/*adds border to bottom nav boxes*/
	nav.sidebar .navbar-nav > li{
		border-bottom: 1px #e5e5e5 solid;
	}

	/* Colors/style dropdown box*/
	nav.sidebar .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	/*allows nav box to use 100% width*/
	nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
		padding: 0 0px 0 0px;
	}

	/*colors dropdown box text */
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #777;
	}

	/*gives sidebar width/height*/
	nav.sidebar{
		width: 200px;
		height: 100%;
		margin-left: -160px;
		float: left;
		z-index: 8000;
		margin-bottom: 0px;
	}

	/*give sidebar 100% width;*/
	nav.sidebar li {
		width: 100%;
	}

	/* Move nav to full on mouse over*/
	nav.sidebar:hover{
		margin-left: 0px;
	}
	/*for hiden things when navbar hidden*/
	.forAnimate{
		opacity: 0;
	}
}

.icon {
	height: 16px;
	width: 16px;
	background-size: contain;
}
.icon-branch svg {
	fill: white;
}

.icon-branch { background-image: url("../images/branch.svg"); }
.icon-merge { background-image: url("../images/merge.svg"); }
.icon-list { background-image: url("../images/list.svg"); }

.store-form{ margin-top:15px;}
.store-form .textarea{ min-height:220px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#fc6667;}
.form-control-feedback{ line-height:50px;}
.main-btn{ background:#fc6667; border-color:#fc6667; color:#fff;}
.main-btn:hover{ background:#ff655a; border-color:#ff655a; color:#fff;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}

.form-title {
	padding-left: 15px;
}

.navbar-nav .link {
	background: none;
	border: none;
	font-size: 16px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content {
	display: none;
	white-space: nowrap; 
	z-index: 1;
}

.dropdown-content span {
	font-size:20px; 
	background: #ff655a; 
	color: white; 
	padding: 2px;
}

.form-label {
	font-size: 20px;
	color: #0d1a26;
	font-family: SourceSansPro, sans-serif;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
    width: 10%;
    min-width: 30px;
}

.form-content {
	width: 80%
}